<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Calculator Tax Value
  </h1>

</div>

<p>Marque</p>

<select #marque (change)="selectModel(marque.value)">
  <option *ngFor="let calc of calcs | uniqFilter : 'Vehicle_Make'" [ngValue]="calc.Vehicle_Make">
    {{calc.Vehicle_Make}}
  </option>
</select>

<p>Modèle</p>
<select>
  <option *ngFor="let calc of calcs" [ngValue]="calc.Vehicle_Description">
    {{calc.Vehicle_Description}}
  </option>
</select>




